In [69]:
import pandas as pd

In [74]:
df = pd.read_csv('test.csv')

In [84]:
df

   EQP_ID            START_DT              END_DT  VALUES1  VALUES2 cnt_time
0    2234 2021-01-02 08:00:00 2021-01-02 08:00:00        1        4
1      22 2021-01-02 08:01:00 2021-01-02 08:01:00        2        5
2    2235 2021-01-02 08:02:00 2021-01-02 08:02:00        3        6
3      33 2021-01-02 08:03:00 2021-01-02 08:03:00        4        7
4    2236 2021-01-02 08:04:00 2021-01-02 08:04:00        5        8

In [83]:
df['cnt_time'] = ""

In [76]:
df["START_DT"] = pd.to_datetime(df["START_DT"])

In [77]:
df["END_DT"] = pd.to_datetime(df["END_DT"])

In [78]:
df['START_DT'].iloc[2:3].values[0]

numpy.datetime64('2021-01-02T08:02:00.000000000')

In [79]:
df['END_DT'].iloc[0:1].values[0]

numpy.datetime64('2021-01-02T08:00:00.000000000')

In [86]:
df["cnt_time"].iloc[2:3] = (df['START_DT'].iloc[2:3].values[0] - df['END_DT'].iloc[0:1].values[0]).astype('timedelta64[s]')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [87]:
df

   EQP_ID            START_DT              END_DT  VALUES1  VALUES2 cnt_time
0    2234 2021-01-02 08:00:00 2021-01-02 08:00:00        1        4
1      22 2021-01-02 08:01:00 2021-01-02 08:01:00        2        5
2    2235 2021-01-02 08:02:00 2021-01-02 08:02:00        3        6  0:02:00
3      33 2021-01-02 08:03:00 2021-01-02 08:03:00        4        7
4    2236 2021-01-02 08:04:00 2021-01-02 08:04:00        5        8

In [81]:
datetime.strptime('20150101', '%Y%m%d')

AttributeError: module 'pandas.tslib' has no attribute 'repr_timedelta64'

In [45]:
a.astype('timedelta64[s]').values

AttributeError: 'numpy.timedelta64' object has no attribute 'values'

In [22]:
df['START_DT'].iloc[0:1].values[0]

'2021/1/2 8:00'

In [12]:
df['END_DT'].iloc[0:1]

0    2021/1/2 7:59
Name: END_DT, dtype: object

In [13]:
df['START_DT'].iloc[1:2]

1    2021/1/2 8:01
Name: START_DT, dtype: object

In [90]:
df["value_sum"] = ""

In [91]:
df["value_sum"].iloc[0:1] = df['VALUES2'].iloc[0:1].values[0] - df['VALUES1'].iloc[0:1].values[0]

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [92]:
df

,EQP_ID,START_DT,END_DT,VALUES1,VALUES2,cnt_time,value_sum
0,2234,2021-01-02 08:00:00,2021-01-02 08:00:00,1,4,,3
1,22,2021-01-02 08:01:00,2021-01-02 08:01:00,2,5,,
2,2235,2021-01-02 08:02:00,2021-01-02 08:02:00,3,6,0:02:00,
3,33,2021-01-02 08:03:00,2021-01-02 08:03:00,4,7,,
4,2236,2021-01-02 08:04:00,2021-01-02 08:04:00,5,8,,

In [35]:
import numpy as np
import pandas as pd

def numpy_date_add(vd_array,y_array):    
    ar=((vd_array.astype('M8[Y]') + np.timedelta64(1, 'Y') * \
    y_array).astype('M8[M]')+ \
    (vd_array.astype('M8[M]')- \
    vd_array.astype('M8[Y]'))).astype('M8[D]')+ \
    (vd_array.astype('M8[D]')-\
    vd_array.astype('M8[M]')) 
    return ar

# usage
valDate=pd.datetime(2016,12,31)
per=[[0,3,'0-3Yr'],
        [3,7,'3-7Yrs'],
        [7,10,'7-10Yrs'],
        [10,15,'10-15Yrs'],
        [15,20,'15-20Yrs'],
        [20,30,'20-30Yrs'],
        [30,40,'30-40Yrs'],
        [40,200,'> 40Yrs']]
pert=pd.DataFrame(per,columns=['start_period','end_period','mat_band'])
pert['valDate']=valDate
pert['startdate'] = numpy_date_add(pert.valDate.values,pert.start_period.values)
pert['enddate'] = numpy_date_add(pert.valDate.values,pert.end_period.values)

print(pert)

   start_period  end_period  mat_band    valDate  startdate    enddate
0             0           3     0-3Yr 2016-12-31 2016-12-31 2019-12-31
1             3           7    3-7Yrs 2016-12-31 2019-12-31 2023-12-31
2             7          10   7-10Yrs 2016-12-31 2023-12-31 2026-12-31
3            10          15  10-15Yrs 2016-12-31 2026-12-31 2031-12-31
4            15          20  15-20Yrs 2016-12-31 2031-12-31 2036-12-31
5            20          30  20-30Yrs 2016-12-31 2036-12-31 2046-12-31
6            30          40  30-40Yrs 2016-12-31 2046-12-31 2056-12-31
7            40         200   > 40Yrs 2016-12-31 2056-12-31 2216-12-31